# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
env/
ENV/

# ==========================
# Django
# ==========================
*.log
staticfiles/
media/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
